#cabezera {
    height: 2cm;
    background-color: #ffffff;
    display: flex;
    justify-content: right;
    align-items: center;
}
#logo {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 200px;

}
.carrito {
    position: relative;
    display: inline-block;
    background-color: #b5b5b5;
    color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    margin-right: 1cm;
  }
#carrito:hover {
    background-color: #e8e8e8;
    transform: scale(1.05); 
}
#basket-qty {
    position: absolute;
    top: -5px; 
    right: -10px;
    background-color: #b5b5b5;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carrito .bi-bag-fill {
    font-size: 24px;
}
  
#carrito:active {
    transform: scale(0.98); 
}
.input-cabecera{
    background-color: #e8e8e8;  
    font-size: 20px;
    width: 200px;
    text-align: center;
    outline: none !important;
    margin-right: 1cm;
    border-radius: 1cm;
}
.pagina-principal {
    width: 100%;
    height: 100%;
    background-color: #a7a1a1;
    justify-content: center;
    align-items: center;

}
.cabecera_list {
    height: 2cm;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}
