#cabezera {
    height: 4cm;
    background-color: #060606;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carouselExampleSlidesOnly {
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-carrusel {
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
}
#carrito{
    position: absolute;
    top: 12.5%;
    right: 100px;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 40px;
}
.input-cabecera {
    background-color: #e7e5e7;
    border-radius: 10px;
    font-size: 20px;
    width: 700px;
    text-align: center;
    outline: none !important;
}
.pagina-principal {
    width: 100%;
    height: 100%;
    background-color: #040404;
    justify-content: center;
    align-items: center;

}
.categorias {
    padding: 2em;
}
.categorias_individuales {
    padding: 3cm;
}
