<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/estilo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row">

        {% for product in products %}
            <li>{{ product.article_name }} - ${{ product.price }}
                <img src="{{ product.photo.url }}" alt="{{ product.name }}" width="100">
            </li>  
        {% empty %}
            <li>No hay productos disponibles.</li>
        {% endfor %}

    </div>

</body>
</html>
