{% extends "base.html" %}
{% block content %}
<header class="bg-white">
  <div class="form-outline">
    <img src="https://static.oysho.net/6/photos2/2024/I/M/3/p/9361/904/479/9361904479_7_1_0.jpg?t=1729167893754&imwidth=2048" class="img-container">
    <form method="GET" action="{% url 'buscar_producto' %}">
      <input class="search-button" type="text" name="buscar" placeholder="Buscar producto...">
      <button class="button-search" type="submit">Buscar</button>
    </form>
  </div>
</header>
<body>
    <div class="p-3 mb-2 bg-light text-dark grid grid-cols-10 gap-4 md:grid-cols-4 md:gap-8 mt-8">
    {% for product in products %}
    <a href="{% url 'product_detail' pk=product.pk %}" class="group block overflow-hidden">
=======
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/estilo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<header class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
        <div>
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Blog Posts</h1>
  
            <img src="https://static.oysho.net/6/photos2/2024/I/M/3/p/2270/254/016/2270254016_30_7_1.jpg?t=1727973220337&imwidth=2048">
        </div>
  
        <div class="flex items-center gap-4">
          <button
            class="inline-flex items-center justify-center gap-1.5 rounded border border-gray-200 bg-white px-5 py-3 text-gray-900 transition hover:text-gray-700 focus:outline-none focus:ring"
            type="button"
          >
            <span class="text-sm font-medium"> View Website </span>
  
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
              />
            </svg>
          </button>
  
          <button
            class="inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
            type="button"
          >
            Create Post
          </button>
        </div>
      </div>
    </div>
  </header>
<body>
    <div class="grid grid-cols-10 gap-4 md:grid-cols-4 md:gap-8 mt-8">
    {% for product in products %}
    <a href="#" class="group block overflow-hidden">
        <div class="relative h-[350px] sm:h-[450px]">
            <img src="{{ product.photo.url }}" alt="{{ product.name }}">
          
        </div>
        <div class="relative bg-white pt-3">
          <h3 class="text-sm text-gray-700 group-hover:underline group-hover:underline-offset-4">
            {{product.article_name}}
          </h3>
          <p>{{product.size}}</p>
          <p class="mt-1.5 tracking-wide text-gray-900">${{product.price}}</p>
        </div>
      </a>
    {% empty %}
        <a>No hay productos disponibles.</a>
    {% endfor %}
    </div>
</body>
{% endblock content %}