{% extends "base.html"%}
{% block content %}
<article class="flex bg-white transition hover:shadow-xl">
    <div class="hidden sm:block sm:basis-56">
        <img src="{{ detalle.photo.url }}" alt="{{ detalle.name }}">
    </div>
    <div class="flex flex-1 flex-col justify-between">
      <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
        <a href="#">
          <h3 class="font-bold uppercase text-gray-900">{{ detalle.article_name }}</h3>
        </a>
        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
          {{ detalle.detail }}
        </p>
      </div>
      <div class="col">
        <ul>COLORES
          <li>{% for color in detalle.colors.all %}</li>
          <li> {{ color.name }}</li>
          {% empty %}
          <li class="list-group-item">No hay tallas disponibles.</li>
          {% endfor %}
          </li>
        </ul>        
      </div>
    </div>
  </article>
{% endblock content %}
