{% extends "base.html" %}
{% block content %}
<header class="bg-white">
  <div class="form-outline" id="cabezera">
    <form method="GET" action="{% url 'buscar_producto' %}">
        <input class="search-button input-cabecera" type="text" name="buscar" placeholder="Buscar producto...">
    </form>
    <a href="#"><i class="bi bi-cart custom-icon"></i></a>
  </div>
</header>
<div class="row categorias">
  <div class="col">
    {% for categoria in categorias %}
      <a class="categorias_individuales" href="{% url 'categoria_detalle' categoria.id %}">{{ categoria.nombre }}</a>
    {% empty %}
      <p>No hay categorías disponibles</p>
    {% endfor %}
  </div>
</div>
<body>
<div class="pagina-principal">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.shopify.com/s/files/1/2531/5032/files/DSC_6138_cambiar_tamano_large.jpg?v=1591289567" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.shopify.com/s/files/1/2531/5032/files/DSC_6138_cambiar_tamano_large.jpg?v=1591289567" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.shopify.com/s/files/1/2531/5032/files/DSC_6138_cambiar_tamano_large.jpg?v=1591289567" alt="...">
      </div>
    </div>
  </div>
</div>  
</body>
{% endblock content %}